* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,
h4 {
    font-family: 'Montserrat', sans-serif;

}

.noscroll {
    min-height: 100vh;
    overflow: hidden;

}

/*!TOP HEADER */
.top__header {
    background-color: #0d369f;

    padding: 14px 15px;



}


.top__headerStu ul {

    margin: 0;
    padding: 0;
}

.top__headerStu li {
    display: inline-block;
    margin-right: 2em;

    font-size: 15px;
    font-weight: 500;

    color: #ffffff;

}

.top__headerStu li a {
    color: #ffffff;
    transition: all 0.5s;
}

.top__header--left li i {

    margin-right: 5px;

}

.top__headerStu li a:hover {
    color: #ff6e65;
    text-decoration: none;
}





/* !HEADER */
.headerStu {
    background-color: #ffffff;
    
    margin: 10px 0;
    transition: 0.2s;
   
}


.headerStu.resize{
height: 70px;
box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

#navbarStu h1{
    margin: 0;
}


#navbarStu .navbar-brand {
    color: #0d369f;

    margin: 0;
    padding: 0;

    font-size: 26px;
    font-weight: 600;

    transition: all 0.5s;
}

#navbarStu .navbar-brand:hover {
    color: #ff6e65;
}

#navbarStu button.navbar-toggler {
    border: none;

    background-color: #0d369f;
    color: #ffffff;

    padding: 0;

    font-size: 22px;

    width: 34px;
    height: 34px;


}

.swtich-navbar-toggler-icon i:nth-of-type(1) {
    display: none;
}


.swtich-navbar-toggler-icon i:nth-of-type(2) {
    display: block !important;

}
#navbarStu .navbar-nav{
    align-items: center;
}



#navbarStu .navbar-nav .nav-item {
    padding: 0 12px;

}

#navbarStu .nav-item .nav-link {
    padding: 6px 0;

    color: #060606;

    font-size: 16px;
    font-weight: 600;

    transition: all 0.5s;

}

#navbarStu .nav-item .nav-link:hover {
    color: #ff6e65;
}



#navbarStu .nav-item.active .nav-link {
    color: #ff6e65;
}


#navbarStu .navbar-nav .nav-item.dropdown i {
    font-weight: 600;
    font-size: 12px;
}


#navbarStu .dropdown-menu {
    transform: translateX(-50px);
    min-width: 190px;
    padding: 16px 0;
    background-color: #ffffff;

    border: 0 solid transparent;

    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

#navbarStu a.dropdown-item {
    font-size: 16px;

    color: #060606;

    padding: 5px 24px;
    font-weight: 600;

}

#navbarStu .dropdown-menu::before {
    content: '';

    width: 14px;
    height: 14px;

    background: #ffffff;

    border: 1px solid transparent;

    display: block;

    border-right: none;
    border-bottom: none;

    transform: translateX(-50%) rotateZ(45deg);

    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;

}

#navbarStu .dropdown-item {

    padding: 5px 24px;
    font-weight: 600;
}

/* search button */
.headerStu__form {

    display: flex;
    text-align: center;

    position: relative;
}

.headerStu__form input {
    font-size: 15px;

    background: transparent;

    padding: 10px 35px 10px 14px;
    width: 100%;
    border-radius: 30px;

    border: 2px solid #ededed;
}

.headerStu__form input:focus {
    outline: none;
}


#navbarStu button.btn-search {
    position: absolute;
    right: 0;

    color: #0d369f;

    padding: 8px 12px 8px 2px;

}

#navbarStu button.btn-search i {

    line-height: 2;
    transition: all 0.5s;
}

#navbarStu button.btn-search i:hover {
    color: #ff6e65;
}


/* toggle switch for light and dark theme  */
#switchButton{
    border: none;
}
#switchButton i:first-child {
    transition: all 0.5s;
    color: #000000;
}

#switchButton i:first-child:hover {
    color: #ff6e65;
}








/* !CAROUSEL */
.carouselStu .carousel-item>img {
   
    min-height: 90vh;
    object-fit: cover;
    object-position: top right;
}

.carouselStu .carousel-item::before {

    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));

    position: absolute;
    inset: 0;
}

.carouselStu .carousel-item button {
    padding: 0;
}

.carouselStu .carousel-item button a {
    padding: 1em 2em;

    font-weight: 600;
    font-size: 16px;

    color: #060606;
    border-radius: 4px;
    background: #ffffff;

    transition: all .25s;
}

.carouselStu .carousel-item button a:hover {

    background: #ff6e65;
    color: #f8f9ff;
    text-decoration: none;
}


.carouselStu .carousel__info {
    position: absolute;

    max-width: 600px;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);

}

.carouselStu .carousel__info h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;

    color: #ffffff;
}


.carouselStu .carousel-indicators {
    display: block;

    margin: 0;
    padding: 0;

    bottom: 35%;
    left: inherit;
    right: 1%;

}

.carouselStu .carousel-indicators li {

    background-color: #ffffff;
    opacity: 1;

    width: 12px;
    height: 12px;
    border-radius: 50%;


}

.carouselStu .carousel-indicators li:nth-of-type(2) {
    margin-top: 0;
    border: none;
}

.carouselStu .carousel-indicators li.active {
    background-color: #ff6e65;
}





/*!SERVICES*/
.servicesStu {
    margin-top: -4em;


}


.servicesStu .container {
    padding: 0;
}


.servicesStu__item {
    background-color: transparent;
}

.servicesStu .box1 {
    background-color: #037ef3;

}

.servicesStu .box2 {
    background-color: #ffc949;

}

.servicesStu .box3 {
    background-color: #ff4f81;

}

.servicesStu .box4 {
    background-color: #1ee697;

}

.servicesStu i {
    font-size: 45px;
    color: #ffffff;
}


.servicesStu h4 a {
    display: inline-block;
    margin-top: 25px;

    font-weight: 600;
    font-size: 24px;

    color: #ffffff;
    text-decoration: none;

    transition: all 0.5s;
}

.servicesStu__content h4 a:hover {
    color: #060606;
}


.servicesStu__box {
    color: #eeeeee;
    position: relative;
    padding: 7em 5em;


    border-radius: 8px;

}

.servicesStu__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}


/*!WELCOME */

.welcome__title {
    padding-bottom: 48px;
}

/* welcome__title */

.titleStu h1 {

    font-size: 40px;
    font-weight: 600;

    text-align: center;

    position: relative;
}

.titleStu h1::before {

    content: "";

    background: #707070;

    width: 60px;
    height: 2px;

    position: absolute;
    left: 46%;
    bottom: -16%;

}

.titleStu h1::after {

    content: "";

    background: #707070;

    width: 60px;
    height: 2px;

    position: absolute;
    left: 48%;
    bottom: -28%;

}

.titleStu span {
    color: #ff6e65;
}

/* welcome__box */
.welcome__box {
    text-align: center;
}

.welcome__box i {
    display: inline-block;

    color: #0d369f;

    font-size: 30px;

    background: rgb(13 54 159 / 9%);

    width: 70px;
    height: 70px;
    border-radius: 50%;

    text-align: center;
    line-height: 70px;


}

.welcome__box h4 {

    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #060606;

}

.welcome__box p {
    color: #707070;

}

.welcome__box a {
    text-decoration: none;

}

.welcome__box a h4 {
    transition: all 0.5s;
}

.welcome__box a h4:hover {
    color: #ff4f81;
}


/*!COURSES */
.coursesStu {
    background-color: #f8f9ff;

}

.coursesStu__card {
    transition: all 0.5s;
}

.coursesStu__card:hover {
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);

}

.coursesStu .card__img {
    position: relative;
}


.coursesStu .card__subItem {
    display: flex;

    position: absolute;
    top: 8%;
    left: 8%;

}

.coursesStu .card__subItem a:nth-child(1) {
    background: #1DC295;
}

.coursesStu .card__subItem a:nth-child(2) {
    background: #ffa100;
}

.coursesStu .card__subItem a:nth-child(3) {
    background-color: #037ef3;
}


.coursesStu .card__subItem a {
    display: inline-block;

    border-radius: 3px;

    color: #eeeeee;

    font-size: 12px;
    font-weight: 600;
    text-decoration: none;

    padding: 4px 10px;
    margin-right: 5px;
}

.coursesStu .card_priceItem {


    text-align: center;


    background: #ff6e65;
    color: #FFFFFF;

    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);

    width: 70px;
    height: 70px;
    border-radius: 50%;

    position: absolute;
    right: 5%;
    bottom: -8%;


}

.coursesStu .card_priceItem h4 {
    margin: 0;

    font-size: 18px;
    font-weight: bold;

    line-height: 70px;
}

/*coursesStudious__body */

.coursesStu__content--sub ul {
    display: flex;
    justify-content: space-between;
}

.coursesStu__content--sub li {
    list-style: none;

}

.coursesStu__content--sub i {
    color: #ff4f81;
}

.coursesStu__body h4 a {
    color: #060606;

    font-size: 22px;
    font-weight: 600;

    text-decoration: none;

    transition: all 0.5s;
}

.coursesStu__body h4 a:hover {
    color: #ff4f81;
}

.coursesStu__body p {

    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;

    margin-bottom: 48px;
}

.coursesStu__content--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 15px;

    position: relative;
}

.coursesStu__content--bottom::after {
    content: "";
    width: 100%;
    border-top: 1px solid #e0dcdc;

    position: absolute;
    top: -25%;
}

.coursesStu__content--bottom ul {
    margin: 0;
}

.coursesStu__content--bottom li {
    list-style: none;
    display: inline-block;

}

.coursesStu__content--bottom ul li a {
    color: #ffc949;
    font-size: 13px;
}

.coursesStu__content--bottom a.btn {
    color: #ff6e65;
    font-size: 14px;
    font-weight: 600;

    transition: all 0.5s;
}

.coursesStu__content--bottom a.btn:hover {
    color: #0d369f;

}

.coursesStu__button a.btn {
    background-color: #ff6e65;

    color: #ffffff;
    font-size: 16px;
    font-weight: 600;

    padding: 0.8em 1.5em;

    transition: all 0.5s;
}

.coursesStu__button a.btn:hover {
    background-color: #0d369f;
}

/*! Light Theme */
#switchButton {
    margin-left: 8px;
    background-color: #ffffff;
}

#switchButton .fa-sun {
    display: none;
    font-size: 25px;
}

#switchButton .fa-moon {
    display: block;
    font-size: 25px;
}


/* TODO: Dark Theme*/

.dark #switchButton {
    background-color: #161c2d;
    color: #4867b0;
}


.dark #switchButton .fa-sun {
    display: block;
    transition: all 0.5s;


}

.dark #switchButton .fa-sun:hover {
    color: #ff6e65;
}


.dark #switchButton .fa-moon {
    display: none;
    color: #4867b0;

}

.dark#bodyStu {
    background-color: #161c2d;

}

.dark#bodyStu .top__header {
    background-color: #4867b0;
}

.dark#bodyStu .headerStu {
    background-color: #161c2d;

}

.dark#bodyStu .headerStu a {
    color: #ffffff;
}

.dark#bodyStu .headerStu button.navbar-toggler {
    background-color: #4867b0;

}


.dark#bodyStu .headerStu #navbarStu .navbar-toggler:focus {

    outline: 2px double;
}

.dark#bodyStu .headerStu .headerStu__form input::placeholder {
    color: #ffffff;
}


.dark#bodyStu .carouselStu h1 {
    color: #4867b0;
}

.dark#bodyStu .welcome h1 {
    color: #ffffff;
}
.dark#bodyStu .titleStu h1::before,.dark#bodyStu .titleStu h1::after{
    background: #cdc5c5;
}


.dark#bodyStu .welcome__box i {
    background-color: #262c3d;
    color: #4867b0;
}

.dark#bodyStu .welcome__box h4
 {
    color: #ffffff;
}
.dark#bodyStu .welcome__box p{
    color: #cdc5c5;
}

.dark#bodyStu .coursesStu {
    background-color: #121725;
    color: #ffffff;

}

.dark#bodyStu .coursesStu .coursesStu__card {
    background-color: #121725;
    color: #ffffff;
    border: 1px solid rgba(255 255 255 / 10%);
}
.dark#bodyStu .coursesStu__content--bottom::after{
    border-top: 1px solid rgba(255 255 255 / 20%);

}

.dark#bodyStu .coursesStu .coursesStu__body h4 a,
.dark#bodyStu .coursesStu .coursesStu__body p {
    color: #ffffff;
}






/* !BACK TO TOP */
.backToTop {
    display: block;

    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 9;

    font-size: 13px;
    border: none;

    outline: none;
    cursor: pointer;
    color: #ffffff;

    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background: #0d369f;

    visibility: hidden;


    opacity: 0;

    transition: all .2s;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}





/***********RESPONSIVE**********/
@media screen and (max-width: 1199px) {
    #navbarStu .navbar-nav .nav-item {
        padding: 0 8px;
    }

    h4 {
        font-size: calc(1.275rem + 0.3vw);
    }


    .servicesStu h4 a {
        margin-top: 20px;
        font-size: 20px;
    }

    .carouselStu .carousel__info {
        width: 70%;
        left: 35%;

    }


    .carouselStu .carousel__info h1 {
        font-size: 57px;
        line-height: 67px
    }

    .servicesStu .servicesStu__box h4 a {
        margin-top: 20px;
        font-size: 20px;




    }









}



@media screen and (max-width: 1080px) {
    
    #navbarStu .navbar-nav .nav-item {
        padding: 0 4px;
    }

    #navbarStu .navbar-nav .nav-link {
        padding: 6px 6px;
        font-size: 14px;
    }
}

@media screen and (max-width: 991.98px) {


    /*top- header */

    .top__header {
        display: none;
    }
     /* header */
     .headerStu{
        position: fixed;
       

        width: 100vw;
        height: auto !important;

        margin: 0;

        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);

       
     }
     #navbarStu{
        padding: 0.5rem 0rem;
     }
     #navbarStu .navbar-brand img {
        max-width: 54px;
     }
   
     


     
    #navbarStu .navbar-nav {
        text-align: center;
        padding: 20px;
        margin-top: 16px;
        box-shadow: 0 6px 19px rgb(0 0 0 / 5%);

    }

    #navbarStu .navbar-nav .nav-item {
        padding: 8px 0;
    }

    #navbarStu .navbar-nav .nav-link {
        font-size: 15px;
        padding: 2px 10px;
    }

    #navbarStu .navbar-nav .nav-item.active .nav-link {
        color: #0d369f;

    }

    #navbarStu .navbar-nav .nav-item .nav-link:hover {
        color: #0d369f;
    }
    .dark#bodyStu .headerStu .navbar-collapse {
        border: 1px solid rgba(255 255 255 / 20%);
    }
    


    #navbarStu .navbar-collapse .headerStu__form {
        border: 0.5px solid rgba(255 255 255 / 10%);
        width: 25vw;
        margin: auto;
    }
    
    #navbarStu .navbar-collapse .headerStu__form input {
        border: 1px solid #ededed;
    }

    .dark#bodyStu #navbarStu .navbar-collapse .headerStu__form input {
        border: 1px solid rgba(255 255 255 / 70%);
    }

    #navbarStu button#switchButton {

        position: absolute;
        right: 50px;
        top: 25px;
    }
    #switchButton i:first-child {
      
        color:#0d369f;
    }
    
.dark #switchButton .fa-sun {

    color: #ff6e65;

}
    
    
     /* carousel */
    

    .carouselStu .carousel__info {
        left: 45%;

    }


    .carouselStu .carousel__info h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .coursesStu .row>div:nth-child(3) {
        margin-top: 3rem;

    }


    /* service */

    .servicesStu h4 a {
        font-size: 25px;
    }

}

    @media screen and (max-width: 820px) {
       


        .carouselStu .carousel__info {
            left: 40%;

        }

    }


    @media screen and (max-width: 767.98px) {
        /* header */
        #navbarStu.navbar {
            justify-content: space-between;
        }
        
/* carousel */
    .carouselStu .carousel-item>img{
        height: 85vh;
    }




        .carouselStu .carousel__info {
            left: 50%;

        }

        .carouselStu .carousel__info h1 {
            font-size: 45px;
            line-height: 55px;
        }

        .coursesStu .row>div:nth-child(2) {
            margin-top: 3rem;

        }
    }

    @media screen and (max-width: 668px) {
        /* header */
        


        #navbarStu .navbar-collapse .headerStu__form {
            width: 43vw;
        }


        #navbarStu button#switchButton {

            right: 50px;
           
        }
        /* carousel */
    
        .carouselStu .carousel__info {
            width: 80%;
            left: 50%;


        }
       
/* service */

        .servicesStu .servicesStu__box {
            width: 80vw;
            margin: auto;


    }

}

@media screen and (max-width: 575.98px) {
         s

  
            .headerStu .container-fluid{
                padding: 0;
                
            }
             
            #navbarStu .navbar-collapse .headerStu__form {
                width: 43vw;
            }
            /* carousel */

            .carouselStu .carousel__info {
                width: 90%;

            }
           
    /* service */

            .servicesStu .servicesStu__box {
                width: 90vw;
                margin: auto;
                margin-bottom: 1.5rem;

            }

            .servicesStu .servicesStu__box .box1 {
                top: -20px;

            }

        }


 @media screen and (max-width: 482px){


         #navbarStu .navbar-brand {
          font-size: 28px;
         }
        }

        @media screen and (max-width: 380px){

            #navbarStu .navbar-brand img {
                max-width: 38px;
            }
           
            #navbarStu .navbar-brand {
             font-size: 22px;
            }

         
           }
   


            

        

    